@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* UTILITY */
button {
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

:root {
  --PRIMARY-COLOR: #673b20;
  --LIGHT-PRIMARY: #673b20d9;
  --SECONDARY-COLOR: #d09730;
  --LIGHT-SECONDARY: #f7ae25;
  --WHITE: white;
  --DARK-BG: #050505;
  --DARK-COLOR: #d098309b;
  --BORDER-COLOR: rgba(128, 128, 128, 0.209);
  --NAVBAR-COLOR: gray;
}

body {
  height: 100dvh;
  font-family:
    "SF Arabic",
    "Noto Sans Arabic",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "hd hd hd"
    "sb mn mn"
    "ft ft ft";
  /* background-color: var(--DARK-BG);
    color: var(--DARK-COLOR); */
}

.dark_mode {
  background-color: var(--DARK-BG);
  color: var(--DARK-COLOR);
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 99;
}

body.dark_mode .overlay {
    background-color: rgba(0, 0, 0, 0.8);
}
.profile_icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--LIGHT-PRIMARY);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: white;
  font-weight: 600;
  background: linear-gradient(var(--PRIMARY-COLOR), var(--SECONDARY-COLOR));
}

.profile_card {
  position: absolute;
  top: 55px;
  right: 10px;
  min-width: 200px;
  height: 0;
  overflow: hidden;
  background-color: white;
  border: 1px solid rgba(169, 169, 169, 0.436);
  padding: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 5px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.2s linear;

  &.show {
    padding: 10px;
    padding-top: 30px;
    height: fit-content;
    opacity: 1;
  }

  & .close_profile_card {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  & ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    gap: 10px;

    & li:nth-child(1) {
      cursor: text;
    }

    & li {
      width: 100%;
      font-size: 0.9rem;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 0;
      color: gray;
    }

    & #userEmail {
      font-size: 0.7rem;
    }

    & .line {
      width: 100%;
      background-color: var(--BORDER-COLOR);
      height: 1px;
      margin-block: 0.5rem;
    }

    & #logOut {
      cursor: pointer;
      color: gray;
      text-align: center;
      background-color: rgba(128, 128, 128, 0.1);
      padding: 5px;
      padding-inline: 15px;
      border-radius: 8px;
      border: 1px solid rgba(128, 128, 128, 0.2);
      width: 80%;
      display: grid;
      place-content: center;
      font-size: 0.8rem;
      letter-spacing: 0.01rem;
    }
  }
}

body.dark_mode .profile_card {
  background-color: black;

  & .line {
    background-color: gray;
  }
}

.logout_model {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--WHITE);
  min-width: 300px;
  height: auto;
  border: 1px solid var(--BORDER-COLOR);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: none;
  z-index: 101;

  & p {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
  }
}

.btns_div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10px;

  & button {
    padding: 8px 8px;
    letter-spacing: 1px;
    font-size: 1rem;
    border-radius: 5px;
    width: 100px;
  }
}

#cancelLogOut {
  border: none;
  background-color: var(--PRIMARY-COLOR);
  color: var(--LIGHT-SECONDARY);
  font-weight: 500;
  cursor: pointer;
}

#confirmLogOut {
  color: gray;
  border: 1px solid var(--BORDER-COLOR);
  background-color: transparent;
  font-weight: 500;
  cursor: pointer;
}

.toggle_display {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#light_mode {
  display: none;
}

li {
  cursor: pointer;
}

header {
  grid-area: hd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 5px;
  border-bottom: 1px solid var(--BORDER-COLOR);

  & .right-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 80px;
  }
}

header ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  gap: 20px;
  font-weight: 500;
}

.add-sale {
  color: var(--SECONDARY-COLOR);
}

header img {
  width: 50px;
  height: auto;
}

.total-sales-btn {
  font-size: 0.85rem;
  background-color: #d0983069;
  color: var(--PRIMARY-COLOR);
  padding: 5px;
  padding-inline: 15px;
  border-radius: 5px;
  border: 1px solid var(--PRIMARY-COLOR);
  font-weight: 500;
}
body.dark_mode .total-sales-btn {
  color: var(--SECONDARY-COLOR);
  border-color: var(--SECONDARY-COLOR);
}

aside {
  grid-area: sb;
  border: 1px solid var(--BORDER-COLOR);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

aside ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

aside li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  color: var(--NAVBAR-COLOR);
  padding: 3px;
  padding-left: 10px;
  font-size: 0.9rem;

  & svg {
    width: 15px;
    height: 15px;
  }
}

aside li:hover {
  background-color: #d0983030;
  border-radius: 20px;
  corner-shape: squircle;
  color: var(--PRIMARY-COLOR);
  & svg {
    color: var(--PRIMARY-COLOR);
  }
}

#selected_page {
  /* background-color: rgb(240, 238, 238);
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px; */

  color: var(--PRIMARY-COLOR);
  background-color: #d0983030;
  padding: 3px;
  padding-left: 10px;
  border-radius: 20px;
  corner-shape: squircle;

  & svg {
    color: var(--PRIMARY-COLOR) !important;
  }
}

body.dark_mode #selected_page {
  color: var(--SECONDARY-COLOR);
  background-color: #d0983030 !important;

  & svg {
    color: var(--SECONDARY-COLOR) !important;
  }
}

.bottom-profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 10px;

  & .bottom_profile_icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    corner-shape: squircle;
    border: 1px solid var(--LIGHT-PRIMARY);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: white;
    font-weight: 600;
    background: linear-gradient(var(--PRIMARY-COLOR), var(--SECONDARY-COLOR));
  }

  & .right-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-top: 5px;
    gap: 0;

    font-size: 0.9rem;

    & p:nth-child(1) {
      font-weight: 700;
      color: var(--PRIMARY-COLOR);
      margin: 0;
      padding: 0;
      line-height: 1;
    }

    & p:nth-child(2) {
      font-size: 0.7rem;
      white-space: nowrap;
      font-weight: 500;
      letter-spacing: 0.02rem;
      color: gray;
    }
  }
}

main {
  grid-area: mn;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  position: relative;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.dateHistoryDiv {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  .date-display-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: start;
  }

  & p {
    font-weight: 500;
    color: var(--PRIMARY-COLOR);
  }

  & h1 {
    margin: 0 !important;
    font-size: 1.3rem;

    & .business-name {
      color: var(--SECONDARY-COLOR);
    }
  }
}

.new-item {
  padding: 10px;
  padding-top: 12px;
  background-color: transparent;
  color: var(--PRIMARY-COLOR);
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 8px;
  border: 2px solid var(--PRIMARY-COLOR);
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: fit-content;
  white-space: nowrap;
}

main h1 {
  color: var(--PRIMARY-COLOR);
}

.new_item_box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--WHITE);
  width: fit-content;
  min-width: 350px;
  height: auto;
  border: 1px solid var(--BORDER-COLOR);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  display: none;
  z-index: 102;
}

.dark_box {
  background-color: var(--DARK-BG);
  color: var(--DARK-COLOR);
  & form input {
    background-color: var(--DARK-BG);
    color: var(--DARK-COLOR);
    border: 1px solid var(--DARK-COLOR);
  }

  & form button {
    background-color: var(--DARK-BG);
    color: var(--DARK-COLOR);
    border: 1px solid var(--DARK-COLOR);
  }

  & form label {
    color: var(--DARK-COLOR);
  }
}

.new_item_box form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.input_label_div {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 5px;
  width: 100%;

  /* LABELS */
  & label {
    font-weight: 500;
    color: var(--PRIMARY-COLOR);
  }

  /* INPUTS */
  & input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    outline: none;
    border: 2px solid var(--BORDER-COLOR);
    font-size: 1rem;
  }

  & input:focus {
    outline: 1px solid var(--PRIMARY-COLOR);
  }
}

.btns_div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;

  & button {
    padding: 8px 10px;
    letter-spacing: 1px;
    font-size: 1rem;
    border-radius: 5px;
    width: fit-content;
  }
}

.cancel_btn {
  color: black;
  border: 1px solid var(--BORDER-COLOR);
  background-color: transparent;
}

.submit_btn {
  border: none;
  background-color: var(--PRIMARY-COLOR);
  color: var(--LIGHT-SECONDARY);
  white-space: nowrap;
  width: fit-content;
}

.newsale_container {
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.423);
  border-radius: 10px;
  padding: 20px;
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  width: 80%;
  height: fit-content;
  min-height: 400px;
  position: relative;

  & .left-container {
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    & p {
      color: var(--PRIMARY-COLOR);
    }
  }

  & .right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & p {
      color: var(--PRIMARY-COLOR);
    }
  }

  & h2 {
    position: absolute;
    top: 10px;
    left: 20px;
  }
}

.newsale_container h2 {
  margin-bottom: 0.7rem;
}

.newsale_container .caption {
  color: var(--NAVBAR-COLOR);
  margin-bottom: 2rem;
}

.select_item {
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.choices {
  min-width: fit-content;
  width: 300px;
  --choices-font-size-md: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 auto;
}

body.dark_mode .choices__list--single {
  background-color: var(--DARK-BG);
}

body.dark_mode .choices__inner {
  background-color: var(--DARK-BG);
}

body.dark_mode .choices__input {
  background-color: var(--DARK-BG) !important;
}

.no-products-feedback {
  color: rgb(186, 58, 58);
  display: none;
}

/* #menuItems {
    width: 300px;
    margin-block: 1rem;
    margin-bottom: 2rem;
    height: 50px;
    padding: 5px;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 1.2rem;
    cursor: pointer;
} */

.choices__list {
  font-size: 1.1rem;
  min-width: fit-content;
}

.choices__list--dropdown {
  min-width: fit-content;
}

body.dark_mode .choices__list--dropdown {
  background-color: var(--DARK-BG);
}

.quantity {
  font-weight: 600;
  margin-bottom: 10px;
}

.btns_container {
  margin-block: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.decrement_btn,
.increment_btn {
  width: 50px;
  height: 50px;
  font-size: 1.2rem;
  background-color: white;
  border: 2px solid var(--BORDER-COLOR);
  border-radius: 50%;
  color: black;
}

.quantity_input {
  width: 80px;
  height: 50px;
  padding: 5px;
  margin-inline: 1rem;
  border-radius: 5px;
  border: 2px solid var(--BORDER-COLOR);
  text-align: center;
  font-size: 1.1rem;
  background-color: white;
}

body.dark_mode .increment_btn {
  background-color: var(--DARK-BG);
  color: var(--DARK-COLOR);
}

body.dark_mode .decrement_btn {
  background-color: var(--DARK-BG);
  color: var(--DARK-COLOR);
}

body.dark_mode .quantity_input {
  background-color: var(--DARK-BG);
  color: var(--DARK-COLOR);
}

.add_btn {
  width: 100%;
  margin-top: 2rem;

  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: var(--PRIMARY-COLOR);
  color: var(--SECONDARY-COLOR);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.add_btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

footer {
  grid-area: ft;
  border: 1px solid var(--BORDER-COLOR);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

footer ul {
  display: flex;
  list-style-type: square;
  gap: 20px;
}

footer li:nth-child(2) {
  margin-left: 1rem;
}

footer .phone-navigation {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.178);

  & li {
    list-style-type: none;
    margin: 0;
    font-size: 0.8rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 8px;
    padding-inline: 15px;

    &.current {
      color: var(--PRIMARY-COLOR);
      background-color: #d0983030;
      width: fit-content;
      height: fit-content;
      padding: 8px;
      padding-inline: 15px;
      border-radius: 20px;
      corner-shape: squircle;
    }
  }
}

body.dark_mode .phone-navigation {
  background-color: var(--DARK-BG);
  box-shadow: 0 8px 20px #d098308c;

  & li {
    color: var(--PRIMARY-COLOR);

    &.current {
      color: var(--SECONDARY-COLOR);
    }
  }
}

.notif_container {
  position: fixed;
  bottom: 5%;
  right: -100%;
  background-color: var(--PRIMARY-COLOR);
  color: var(--LIGHT-SECONDARY);
  display: flex;
  align-items: center;
  padding: 20px;
  padding-bottom: 25px;
  border-radius: 8px;
  gap: 20px;
  width: fit-content;
  max-height: 30px;
  transition: all 0.3s linear;
  border-left: 5px solid var(--LIGHT-SECONDARY);
  z-index: 100;
}

.show_notif {
  display: inline-flex;
  right: 5%;
  transition: right 0.3s linear;
}

.svg_container {
  display: grid;
  place-content: center;
}

.progress {
  width: 0;
  height: 4px;
  background-color: var(--SECONDARY-COLOR);
  position: absolute;
  bottom: 0;
  left: 10px;
  border-radius: 10px;
}

.move {
  width: 93%;
  transition: width 3s linear;
}

.dark_mode {
  background-color: var(--DARK-BG) !important;
  color: var(--DARK-COLOR) !important;
}

@media (max-width: 600px) and (max-width: 800px) {
  body {
    min-height: 100vh;
    font-family: system-ui;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "hd hd hd"
      "mn mn mn"
      "ft ft ft";
  }

  header ul {
    font-weight: 500;
  }

  .total-sales-btn {
    padding-top: 7px;
  }

  main h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    padding-top: 0;
  }

  .dateHistoryDiv {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 1rem;
   

    & .business-name {
      font-size: 1.3rem;
    }
   
  }

  .newsale_container {
    width: 90%;
    flex-direction: column;
  }

  .add_btn {
    width: 90%;
  }

  .notif_container {
    top: 10%;
  }

  .new_item_box {
    width: fit-content;
  }

  .input_label_div {
    gap: 10px;
  }

  .choices {
    min-width: 250px;
  }

  footer .larg-screen-footer-links {
    display: none;
  }
}


@media (max-width: 700px) {
  .newsale_container {
    flex-direction: column;
    padding-top: 80px;
    justify-content: center;
    align-items: center;

    & .left-container {
      width: 100%;
    }

    & .right-container {
      display: flex;
      justify-content: center !important;
      align-items: center !important;
      width: 100%;
    }
  }

  .choices {
    width: fit-content;
  }

  .dateHistoryDiv {
    & .date-display-container {
      gap: 10px;
    }

    & h1 {
      font-size: 1.2rem;
      font-weight: 1000;
      max-width: 100%;
      text-align: left;
    }

    & p {
      font-size: 0.8rem;
      font-weight: 400;
    }
  }

  .new-item {
    font-size: 0.9rem;
    & svg {
      width: 15px;
      height: 15px;
    }
  }

  .select_item {
    line-height: 2;
  }
}

@media (max-width: 600px) {
  body {
    min-height: 100vh;
    font-family: system-ui;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "hd hd hd"
      "mn mn mn"
      "ft ft ft";
  }

  aside {
    display: none;
  }

  main {
    padding-bottom: 100px;
  }
}

@media (min-width: 700px) {
  .dateHistoryDiv {
    & h1 {
      margin-bottom: 0 !important;
      line-height: 1;
    }

    & p {
      margin: 0 !important;
    }
  }

  .newsale_container {
    margin-top: 1rem;
  }

  .quantity {
    margin-top: 4rem;
  }

  .add_btn {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 600px) {
  footer .phone-navigation {
    display: none;
  }
}


@media (max-width: 900px) {
 .newsale_container {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
  }
}