* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --PRIMARY-COLOR: #673b20;
  --LIGHT-PRIMARY: #673b20d9;
  --SECONDARY-COLOR: #d09730;
  --LIGHT-SECONDARY: #f7ae25;
  --WHITE: white;
  --DARK-BG: #050505;
  --DARK-COLOR: #d098309b;
  --BORDER-COLOR: rgba(128, 128, 128, 0.209);
  --NAVBAR-COLOR: gray;
}

body {
  min-height: 100vh;
  font-family: system-ui;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "hd hd hd"
    "sb mn mn"
    "ft ft ft";
  /* background-color: var(--DARK-BG);
    color: var(--DARK-COLOR); */
}

.dark_mode {
  background-color: var(--DARK-BG);
  color: var(--DARK-COLOR);
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

body.dark_mode .overlay {
    background-color: rgba(0, 0, 0, 0.8);
}
.profile_icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--LIGHT-PRIMARY);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: white;
  font-weight: 600;
  background: linear-gradient(var(--PRIMARY-COLOR), var(--SECONDARY-COLOR));
}

.profile_card {
  position: absolute;
  top: 55px;
  right: 10px;
  min-width: 200px;
  height: 0;
  overflow: hidden;
  background-color: white;
  border: 1px solid rgba(169, 169, 169, 0.436);
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 5px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.2s linear;

  &.show {
    padding: 10px;
    padding-top: 30px;
    height: fit-content;
    opacity: 1;
  }

  & .close_profile_card {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  & ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    gap: 10px;

    & li:nth-child(1) {
      cursor: text;
    }

    & li {
      width: 100%;
      font-size: 0.9rem;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 0;
      color: gray;
    }

    & #userEmail {
      font-size: 0.7rem;
    }

    & .line {
      width: 100%;
      background-color: var(--BORDER-COLOR);
      height: 1px;
      margin-block: 0.5rem;
    }

    & #logOut {
      cursor: pointer;
      color: gray;
      text-align: center;
      background-color: rgba(128, 128, 128, 0.1);
      padding: 5px;
      padding-inline: 15px;
      border-radius: 8px;
      border: 1px solid rgba(128, 128, 128, 0.2);
      width: 80%;
      display: grid;
      place-content: center;
      font-size: 0.8rem;
      letter-spacing: 0.01rem;
    }
  }
}

body.dark_mode .profile_card {
  background-color: black;

  & .line {
    background-color: gray;
  }
}

.logout_model {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--WHITE);
  min-width: 300px;
  height: auto;
  border: 1px solid var(--BORDER-COLOR);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: none;

  & p {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
  }
}

.btns_div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10px;

  & button {
    padding: 8px 8px;
    letter-spacing: 1px;
    font-size: 1rem;
    border-radius: 5px;
    width: 100px;
  }
}

#cancelLogOut {
  border: none;
  background-color: var(--PRIMARY-COLOR);
  color: var(--LIGHT-SECONDARY);
  font-weight: 500;
  cursor: pointer;
}

#confirmLogOut {
  color: gray;
  border: 1px solid var(--BORDER-COLOR);
  background-color: transparent;
  font-weight: 500;
  cursor: pointer;
}

.toggle_display {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#light_mode {
  display: none;
}

li {
  cursor: pointer;
}

header {
  grid-area: hd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 5px;
  border-bottom: 1px solid var(--BORDER-COLOR);

  & .right-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 80px;
  }
}

header ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  gap: 20px;
  font-weight: 500;
}

.home {
  color: var(--SECONDARY-COLOR);
}

.total-sales-btn {
  font-size: 0.85rem;
  background-color: #d0983069;
  color: var(--PRIMARY-COLOR);
  padding: 5px;
  padding-inline: 15px;
  border-radius: 5px;
  border: 1px solid var(--PRIMARY-COLOR);
  font-weight: 500;
}
body.dark_mode .total-sales-btn {
  color: var(--SECONDARY-COLOR);
  border-color: var(--SECONDARY-COLOR);
}

header img {
  width: 50px;
  height: auto;
}

aside {
  grid-area: sb;
  border: 1px solid var(--BORDER-COLOR);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

aside ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

aside li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  color: var(--NAVBAR-COLOR);
  white-space: nowrap;

  font-size: 0.9rem;
  padding: 8px;
  padding-left: 10px;

  & svg {
    width: 15px;
    height: 15px;
  }
}

aside li:hover {
  background-color: #d0983030;
  border-radius: 20px;
  corner-shape: squircle;
  color: var(--PRIMARY-COLOR);

  & svg {
    color: var(--PRIMARY-COLOR);
  }
}

#selected_page {
  /* border-radius: 5px;
  padding: 5px;
  padding-left: 10px; */

  color: var(--PRIMARY-COLOR);
  background-color: #d0983030;
  padding: 8px;
  padding-left: 10px;
  border-radius: 20px;
  corner-shape: squircle;

  & svg {
    color: var(--PRIMARY-COLOR) !important;
    fill: var(--PRIMARY-COLOR);
  }
}

body.dark_mode #selected_page {
  color: var(--SECONDARY-COLOR);
  background-color: #d0983030 !important;

  & svg {
    color: var(--SECONDARY-COLOR) !important;
  }
}

.bottom-profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 10px;

  & .bottom_profile_icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    corner-shape: squircle;
    border: 1px solid var(--LIGHT-PRIMARY);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: white;
    font-weight: 600;
    background: linear-gradient(var(--PRIMARY-COLOR), var(--SECONDARY-COLOR));
  }

  & .right-container {
    display: flex;
    flex-direction: column;

    font-size: 0.9rem;

    & p:nth-child(1) {
      font-weight: 700;
      color: var(--PRIMARY-COLOR);
    }

    & p:nth-child(2) {
      font-size: 0.7rem;
      white-space: nowrap;
      font-weight: 500;
      letter-spacing: 0.02rem;
      color: gray;
    }
  }
}

main {
  grid-area: mn;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

main h1 {
  color: var(--PRIMARY-COLOR);
}

.sales_breakdown {
  width: 80%;
  min-height: 380px;
  max-height: 380px;
  overflow: auto;
  display: flex;
  flex-direction: column;

  box-shadow: 0 0 4px #0000003d;
  /* box-shadow: 0 4px 20px rgba(67,36,6,0.08); */
  border-radius: 8px;
}

body.dark_mode .sales_breakdown {
  box-shadow: 0 0 4px #e7e3e33d;
}

body.dark_mode table tr {
  color: var(--SECONDARY-COLOR) !important;
  border-bottom-color: #d0983039;
}

.sales_breakdown::-webkit-scrollbar {
  width: 2px;
  overflow-y: auto;
  display: none;
}

.sales_breakdown::-webkit-scrollbar-thumb {
  background-color: var(--SECONDARY-COLOR);
  border-radius: 15px;
}

.sales_header {
  width: 100%;
  padding: 10px;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 500;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: var(--PRIMARY-COLOR);
  color: var(--SECONDARY-COLOR);
}

.sales_table {
  display: flex;
  flex-direction: column;
  width: 100%;

  scroll-behavior: smooth;
}

.sales_table::-webkit-scrollbar {
  display: none !important;
}

.table_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--PRIMARY-COLOR);
  background-color: #673b2012;
  padding: 15px;
  font-weight: 700;
  font-size: 0.8rem;
}

.noItemsFeedback {
  color: var(--PRIMARY-COLOR);
  margin-block: 3rem;
  text-align: center;
  font-weight: 500;
}

.table_row {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-top: 1px solid #673b2016;
  padding: 15px;
  padding-block: 15px;
  font-family: "system-ui";
  font-weight: 600;

  font-size: 0.9rem;
  color: var(--PRIMARY-COLOR);
}

.item-name-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  & .item-bullet {
    width: 7px;
    height: 7px;
    background-color: var(--PRIMARY-COLOR);
    border-radius: 50%;
  }
}

/* .quantity {
  background-color: rgba(128, 128, 128, 0.09);
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 4px;
  padding-inline: 15px;
  border-radius: 8px;
} */

.MAD {
  font-size: 0.7rem;
}

.total_revenue {
  width: 80%;
  border-left: 4px solid green;
  padding-left: 10px;
  margin-top: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.142);
  padding: 10px;
  border-radius: 10px;
}

.total_revenue_number {
  font-size: 2rem;
  color: green;
  font-weight: 600;
}

.sales-table {
  /* background-color: red; */
  width: 100%;
  border-collapse: collapse;
  text-align: left;

  & thead {
    width: 100%;
    text-align: left;
    color: var(--PRIMARY-COLOR);
    background-color: #673b2012;
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 0.9px;

    & th {
      padding: 15px;
    }
  }

  & tbody tr {
    text-align: left;
    border-bottom: 1px solid #673b2016;

    font-family: "system-ui";
    font-weight: 600;

    font-size: 0.9rem;
    color: var(--PRIMARY-COLOR);
  }

  & td {
    padding: 10px;
  }

  & td.align-center,
  th.align-center {
    text-align: center;
  }

  & td.align-right,
  th.align-right {
    text-align: right;
  }

  & td .revenue-number {
    font-weight: 800;
  }

  & td .currency {
    font-size: 0.7rem;
  }

  & td .quantity-badge {
    background-color: rgba(128, 128, 128, 0.09);
    width: fit-content;
    height: fit-content;
    padding: 4px;
    padding-inline: 15px;
    border-radius: 8px;
  }

  & td.center-content {
    text-align: center;
  }

  & .bullet {
    display: inline-flex;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--PRIMARY-COLOR);
    margin-right: 4px;
  }

  & .delete-row-btn {
    display: inline-flex;
    justify-content: content;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--PRIMARY-COLOR);
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    padding: 6px;
    transition: background 0.2s linear;
  }

  & .delete-row-btn:hover {
    background-color: rgba(255, 0, 0, 0.157);
    color: rgb(136, 2, 2);
  }
}

.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid;
  border-color: var(--PRIMARY-COLOR) transparent;
  animation: spin 1s infinite;
  margin: 2rem auto 0;
}

@keyframes spin {
  to {
    transform: rotate(0.5turn);
  }
}

footer {
  grid-area: ft;
  border: 1px solid var(--BORDER-COLOR);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

footer ul {
  display: flex;
  list-style-type: square;
  gap: 20px;
}

footer li:nth-child(2) {
  margin-left: 1rem;
}

footer .phone-navigation {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.178);

  & li {
    list-style-type: none;
    margin: 0;
    font-size: 0.8rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   white-space: nowrap;
    gap: 5px;
    padding: 8px;
    padding-inline: 15px;

    &.current {
      color: var(--PRIMARY-COLOR);
      background-color: #d0983030;
      width: fit-content;
      height: fit-content;
      padding: 8px;
      padding-inline: 15px;
      border-radius: 20px;
      corner-shape: squircle;
    }
  }
}

body.dark_mode .phone-navigation {
  background-color: var(--DARK-BG);
  box-shadow: 0 8px 20px #d098308c;

  & li {
    color: var(--PRIMARY-COLOR);

    &.current {
      color: var(--SECONDARY-COLOR);
    }
  }
}

.delete-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--WHITE);
  width: fit-content;
  min-width: 350px;
  height: auto;
  border: 1px solid var(--BORDER-COLOR);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  display: none;
  z-index: 102;

  & p {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--PRIMARY-COLOR);
  }

  & .btns-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;

    & button {
      padding: 8px 10px;
      letter-spacing: 1px;
      font-size: 1rem;
      border-radius: 5px;
      width: fit-content;
      cursor: pointer;
    }

    & button:nth-child(1) {
      background-color: transparent;
      border: 1px solid var(--PRIMARY-COLOR);
      color: var(--PRIMARY-COLOR);
    }

    & button:nth-child(2) {
      background-color: var(--PRIMARY-COLOR);
      border: 1px solid var(--PRIMARY-COLOR);
      color: var(--SECONDARY-COLOR);
    }
  }
}

.notif_container {
  position: fixed;
  bottom: 5%;
  right: -100%;
  background-color: var(--PRIMARY-COLOR);
  color: var(--LIGHT-SECONDARY);
  display: flex;
  align-items: center;
  padding: 20px;
  padding-bottom: 25px;
  border-radius: 8px;
  gap: 20px;
  width: fit-content;
  max-height: 30px;
  transition: all 0.3s linear;
  border-left: 5px solid var(--LIGHT-SECONDARY);
}

.show_notif {
  display: inline-flex;
  right: 5%;
  transition: right 0.3s linear;
}

.svg_container {
  display: grid;
  place-content: center;
}

.progress {
  width: 0;
  height: 4px;
  background-color: var(--SECONDARY-COLOR);
  position: absolute;
  bottom: 0;
  left: 10px;
  border-radius: 10px;
}

.move {
  width: 93%;
  transition: width 3s linear;
}

@media (max-width: 600px) {
  body {
    min-height: 100vh;
    font-family: system-ui;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "hd hd hd"
      "mn mn mn"
      "ft ft ft";
  }

  header ul {
    font-weight: 500;
  }

  main {
    padding-bottom: 100px;
  }

  .total-sales-btn {
    padding-top: 7px;
  }

  #logOut {
    font-size: 0.9rem;
  }

  .profile_card {
    & ul li {
      gap: 3px;
    }

    & #userEmail {
      font-size: 0.8rem;
    }
  }

  aside {
    display: none;
  }

  main h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
  }

  .sales_breakdown {
    width: 100%;
    min-height: 450px;
  }

  .total_revenue {
    margin: 0;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.142);
    padding: 15px;
    border-radius: 10px;
  }

  aside {
    display: none;
  }

  .table_row {
    grid-template-columns: 1.7fr 1fr 1fr;
  }

  .notif_container {
    top: 10%;
  }

  footer .phone-navigation {
    display: flex;
  }

  footer .larg-screen-footer-links {
    display: none;
  }
}

@media (min-width: 600px) {
  footer .phone-navigation {
    display: none;
  }
}
