* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITY */
button {
  cursor: pointer;
}
button:active {
  transform: scale(0.9);
}

:root {
  --PRIMARY-COLOR: #673b20;
  --LIGHT-PRIMARY: #673b20d9;
  --SECONDARY-COLOR: #e6a52d;
  --BG: white;
  --DARK-BG: #252525;
  --DARK-COLOR: gray;
  --BORDER-COLOR: rgba(128, 128, 128, 0.209);
  --NAVBAR-COLOR: gray;
}



body {
  min-height: 100vh;
  font-family: "Tajwal", sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  flex-direction: column;

  background-color: var(--BG);
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: fit-content;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  padding-block: 5px;
  border-radius: 20px;
  margin-inline: auto;
  margin-block: 10px;
  background-color: var(--PRIMARY-COLOR);
  backdrop-filter: blur(5px);
  box-sizing: border-box;
  color: var(--SECONDARY-COLOR);
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

  & .logo-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: fit-content;

    & figure {
      width: 50px;
      height: 50px;
      border-radius: 50% !important;
      padding: 0;
      background-color: var(--PRIMARY-COLOR);

      & img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    & p {
      font-family: "Tajwal", sans-serif;
      font-weight: 600;
    }
  }

  & nav ul {
    display: flex;
    gap: 40px;

    & li {
      list-style-type: none;
      font-weight: 600;
      cursor: pointer;
    }
  }
}

.get-started-btn {
  background-color: var(--SECONDARY-COLOR);
  color: var(--PRIMARY-COLOR);
  padding: 10px 15px 8px 15px;
  border-radius: 8px;
  font-size: 1rem;
  font-family: "Tajwal", sans-serif;
  font-weight: 600;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow-x: hidden;
}

.get-started-btn2 {
  font-size: 1.2rem;
}

.get-started-btn2:hover svg {
  animation: moveArrow 0.7s linear infinite;
}

@keyframes moveArrow {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50px);
  }
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  height: 100dvh;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 10px;
  margin: 0;

  & h1 {
    color: var(--PRIMARY-COLOR);
    text-align: center;
    font-size: 3rem;
    max-width: 80%;
  }

  & h4 {
    color: var(--SECONDARY-COLOR);
    letter-spacing: 1px;
    max-width: 50%;
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.5;
  }

  & .cards-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 5rem;
    margin-inline: auto;
    opacity: 0.6;

    & .daily-revenue-card {
      /* width: 30%; */
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      border-left: 5px solid var(--PRIMARY-COLOR);
      padding-left: 10px;

      & p {
        line-height: 28px;
        margin: 0;
        padding: 0;
      }

      & .number {
        font-size: 2rem;
        color: var(--SECONDARY-COLOR);
        font-weight: 500;
        margin-bottom: 10px;

        & span {
          font-size: 0.9rem;
        }
      }

      & .subtext {
        color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
      }

      & .icon-container {
        & svg {
          width: 30px;
          height: 30px;
          color: var(--PRIMARY-COLOR);
        }
      }
    }

    .most-sold-card {
      /* width: 40%; */
      height: fit-content;
      border-radius: 10px;
      /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.493); */
      padding: 10px;
      display: flex;
      align-items: end;
      justify-content: space-between;
      flex-direction: row;
      gap: 30px;
      position: relative;

      & p:nth-child(2) {
        color: var(--SECONDARY-COLOR);
        font-weight: 500;
        font-size: 1.2rem;
        margin-top: 1.7rem;
      }

      & .title {
        position: absolute;
        top: 10px;
        left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
      }

      & .icon-container {
        & svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

.large-money-icon-one,
.large-money-icon-two {
  width: 80px;
  height: 80px;
  position: absolute;
  color: var(--SECONDARY-COLOR);
  top: 350px;
  opacity: 0.5;
}

.large-money-icon-one {
  left: 100px;
}

.large-money-icon-two {
  right: 100px;
}

.grain-container {
  position: relative;

  & .grain-bg {
    background-image: radial-gradient(
      circle,
      var(--PRIMARY-COLOR) 1px,
      transparent 1px
    );

    background-size: 24px 24px;
    width: 100%;
    height: 100%;
    position: absolute;

    & .grain-overlay {
      background-size: 24px 24px;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.789);
    }
  }
}

.features {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;

  & .section-heading {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    & h2 {
      color: var(--PRIMARY-COLOR);
      text-align: center;
      opacity: 0;
      transform: translateY(10px);
      width: 50%;
    }

    & .sub-heading {
      text-align: center;
      color: var(--SECONDARY-COLOR);
      opacity: 0;
      transform: translateY(10px);
    }

    & .under-line {
      width: 100px;
      height: 3px;
      background-color: var(--LIGHT-PRIMARY);
      transform-origin: center;

      &.isIntersecting {
        animation: expandLine 0.5s ease-out forwards;
      }
    }

    & .isIntersecting {
      opacity: 1;
      transform: translateY(0);
      transition:
        opacity 0.3s linear,
        transform 0.3s linear;
    }
  }

  & .features-cards-container {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 10px;
    gap: 30px;
    flex-wrap: wrap;

    & .feature-card {
      display: flex;
      gap: 20px;
      padding: 10px;
      border: 1px solid var(--SECONDARY-COLOR);
      border-bottom: 4px solid var(--SECONDARY-COLOR) !important;
      border-radius: 10px;
      width: 100%;
      opacity: 0;
      transform: translateY(10px);

      &.isIntersecting {
        opacity: 1;
        transform: translateY(0);
        transition:
          opacity 0.3s linear,
          transform 0.3s linear;
      }

      & .feature-icon-container {
        height: fit-content;
        width: fit-content;
        padding: 5px;
        background-color: #e6a52d35;
        border-radius: 50%;
        display: grid;
        place-content: center;

        & svg {
          color: var(--PRIMARY-COLOR);
          width: 30px;
          height: 30px;
        }
      }

      & .feature-details-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      & .feature-heading {
        font-size: 1rem;
        color: var(--PRIMARY-COLOR);
        font-weight: 600;
      }

      & .feature-subheading {
        font-size: 0.9rem;
        color: gray;
        font-weight: 600;
        width: 90%;
        line-height: 22px;
      }
    }
  }
}

.section-heading {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  & h2 {
    color: var(--PRIMARY-COLOR);
    text-align: center;
    opacity: 0;
    transform: translateY(10px);
  }

  & .sub-heading {
    text-align: center;
    color: var(--SECONDARY-COLOR);
    opacity: 0;
    transform: translateY(10px);
  }

  & .under-line {
    width: 100px;
    height: 3px;
    background-color: var(--LIGHT-PRIMARY);
    transform-origin: center;
    transform: scaleX(0);

    &.isIntersecting {
      animation: expandLine 0.5s ease-out forwards;
    }
  }

  & .isIntersecting {
    opacity: 1;
    transform: translateY(0);
    transition:
      opacity 0.3s linear,
      transform 0.3s linear;
  }
}



.desktop-view-figure {
  width: 80%;
  height: fit-content;
  margin: 0 auto;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.mobile-view-figure {
  width: 100%;
  height:600px;
  margin: 0 auto;
  display: none;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}


@keyframes expandLine {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.demo-section {
  padding-bottom: 20px;

  & .outter-pc-frame {
    width: 70%;
    height: 500px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px solid var(--PRIMARY-COLOR);
    border-radius: 15px;
    border-left: 8px solid var(--PRIMARY-COLOR);
    border-right: 8px solid var(--PRIMARY-COLOR);
    border-bottom: 25px solid var(--PRIMARY-COLOR);

    opacity: 0;
    transform: translateY(10px);

    &.isIntersecting {
      opacity: 1;
      transform: translateY(0);
      transition:
        opacity 0.3s linear,
        transform 0.3s linear;
    }

    & .inner-pc-frame {
      width: 100%;
      height: 100% !important;
      background-color: transparent;

      & img {
        width: 100%;
        height: 100%;
        max-width: 100% !important;
        max-height: 100% !important;
        object-fit: fill;
      }
    }
  }
}

.outter-phone-frame {
  width: 260px;
  height: 490px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 15px solid var(--PRIMARY-COLOR);
  border-radius: 15px;
  border-left: 10px solid var(--PRIMARY-COLOR);
  border-right: 10px solid var(--PRIMARY-COLOR);
  border-bottom: 30px solid var(--PRIMARY-COLOR);
  transform: rotate(5deg) !important;
  display: none !important;

  opacity: 0;
  transform: translateY(10px);

  &.isIntersecting {
    opacity: 1;
    transform: translateY(0);
    transition:
      opacity 0.3s linear,
      transform 0.3s linear;
  }

  & .inner-phone-frame {
    width: 100%;
    height: 100% !important;
    background-color: var(--BG);
    border-radius: 10px;
    border: px solid red;

    & img {
      width: 100%;
      height: 100%;
      max-width: 100% !important;
      max-height: 100% !important;
      object-fit: cover;
      border-radius: 20px;
    }
  }
}

.bottom-section {
  width: 100%;
  height: 50dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 40px;
  background-color: var(--SECONDARY-COLOR);

  & div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;

    & p:nth-child(1) {
      font-size: 1.8rem;
      font-weight: 600;
      color: var(--PRIMARY-COLOR);
      text-align: center;
    }

    & p:nth-child(2) {
      color: var(--BG);
      font-size: 1.2rem;
      text-align: center;
    }
  }

  & div:nth-child(2) {
    display: flex;
    width: 80%;
    justify-content: space-evenly;

    & button {
      font-size: 1.2rem;
      border: none;
      width: 30%;
      padding: 10px;
      min-height: 50px;
    }

    & button:nth-child(1) {
      border-radius: 8px;
      color: #f0e1c5;
      background-color: #f0e1c546;
    }

    & button:nth-child(2) {
      border-radius: 8px;
      background-color: var(--PRIMARY-COLOR);
      color: var(--SECONDARY-COLOR);
    }
  }
}

footer {
  width: 100%;
  height: fit-content;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--SECONDARY-COLOR);

  & .left-container {
    width: 100%;
    padding-inline: 10px;
    & p {
      font-size: 0.9rem;
      line-height: 25px;
    }
  }

  & .right-container {
    & ul {
      display: flex;
      gap: 30px;

      & li {
        list-style-type: none;
        font-size: 0.9rem;
        cursor: pointer;
        white-space: nowrap;
      }
    }
  }
}

/* MEDIA QUERIES*/
@media (max-width: 600px) {
  header {
    width: 90%;
    .logo-container {
      & p {
        display: none;
      }
    }

    & nav ul {
      gap: 10px;
    }

    & ul li,
    .get-started-btn {
      font-size: 0.9rem;
    }
  }

  main {
    gap: 100px;

    & .hero {
      & h1 {
        font-size: 2rem;
        text-align: center;
      }
      & h4 {
        max-width: 80%;
        font-size: 0.9rem;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.382);
      }

      .cards-container {
        width: 100%;
        flex-direction: column;
        gap: 60px;
        opacity: 0.6;

        & .daily-revenue-card,
        .most-sold-card {
          width: 80%;

          & .number {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .features {
    & .section-heading {
      width: 100%;
      & h2 {
        font-size: 1.2rem;
      }

      & .sub-heading {
        width: 80%;
      }
    }

    & .feature-card {
      width: 90% !important;
      min-height: 120px;
      border-bottom: 4px solid var(--SECONDARY-COLOR) !important;
    }
  }

  .bottom-text {
    font-size: 1.5rem !important;
  }

  .bottom-section {
    & button {
      width: fit-content !important;
    }
  }
  
 .desktop-view-figure {
    display: none;
  }

  .mobile-view-figure {
    display: block;
  }
}

@media (max-width: 768px) {
  .large-money-icon-one,
  .large-money-icon-two {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 800px) {
  .large-money-icon-one {
    top: 60%;
    left: 40px;
    width: 60px;
    height: 60px;
  }

  .large-money-icon-two {
    top: 60%;
    right: 40px;
    width: 60px;
    height: 60px;
  }

}

@media (max-width: 800px) {
  main {
    .hero {
      height: fit-content;
      & h4 {
        max-width: 80%;
      }

      .cards-container {
        width: 80%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 60px;

        & .daily-revenue-card,
        .most-sold-card {
          width: 80%;
        }
      }
    }
  }

  .outter-pc-frame {
    display: none !important;
  }

  .outter-phone-frame {
    display: flex !important;
  }

  .bottom-section {
    & div:nth-child(2) {
      & button {
        width: 40%;
      }
    }
  }

  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 0;
    padding-left: 5px;
    gap: 20px;

    & .left-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & .right-container {
      order: -1;
    }
  }
}

@media (min-width: 600px) {
  .features {
    .features-cards-container {
    
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding-inline: 20px;

      & .feature-card {
        min-height: 150px;
        width: 40%;
      }
    }
    
  }
}
